body{
    padding-top: 80px;
    /*color: #2b669a;*/
    padding-bottom: 80px;
}


/*.navbar-header.navbar-fixed-top{*/
    /*color: #2e6da4;*/
/*}*/
nav{
    background-color: #2e6da4;
}
.navbar-brand{
    color: white;
}
.white{
    color: white;
}
input.form-control
{
    margin-bottom: 5px;
}
/*li.boderless{*/
    /*border-top: 0 none;*/
/*!*}*!*/
.verticalLine{
    border-right: solid   ;
}
/*.col-sm-8.container-fluid{*/
    /*border-left: solid;*/
    /*height: 800px;*/
/*}*/