
<!--<div class="container-fluid" ng-controller="WidgetEditController">-->
    <!--<label for="name">Name</label>-->
    <!--<input ng-model="model.widget.name" class="form-control" type="text" id="name">-->
    <!--<label for="text">Text</label>-->
    <!--<input ng-model="model.widget.text" type="text" id="text" class="form-control" placeholder="Northern Lights(aurora borealis), nature's own theater">-->
    <!--<label for="size">Size</label>-->
    <!--<input ng-model="model.widget.size" class="form-control" type="number" placeholder="3" id="size">-->
    <!--<a class="btn btn-danger btn-block" ng-click="model.deleteWidget(model.widget)">Delete</a>-->

<!--</div>-->
<div class="container-fluid">
<div ng-model="model.widget.size" ng-switch="widget.size">
    <!--<div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>-->
    <h1 ng-switch-when="1">{{widget.text}}</h1>
    <h1 ng-switch-when="2">{{widget.text}}</h1>
    <h1 ng-switch-when="3">{{widget.text}}</h1>
    <h1 ng-switch-when="4">{{widget.text}}</h1>
    <h1 ng-switch-when="5">{{widget.text}}</h1>
    <h1 ng-switch-when="6">{{widget.text}}</h1>
</div>
</div>