<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">

                <span class="glyphicon glyphicon-chevron-left black">
                </span>
            </a>

        </div>
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus black"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"><strong>Widgets</strong></a>
        </div>


    </div>
</nav>

<!--<div class="container-fluid">-->
<div ng-repeat="widget in model.widgets">
    <div class="widget-toolbar">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
            <span class="glyphicon glyphicon-cog">

            </span>
        </a>
        <span class="glyphicon glyphicon-align-justify"></span>
    </div>
    <div ng-switch="widget.widgetType">

    <div ng-switch-when="HEADER">
        <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
        <!--<h1 ng-if="widget.size == 1">{{widget.text}}</h1>-->
        <!--<h2 ng-if="widget.size == 2">{{widget.text}}</h2>-->
        <!--<h3 ng-if="widget.size == 3">{{widget.text}}</h3>-->
        <!--<h4 ng-if="widget.size == 4">{{widget.text}}</h4>-->
        <!--<h5 ng-if="widget.size == 5">{{widget.text}}</h5>-->
        <!--<h6 ng-if="widget.size == 6">{{widget.text}}</h6>-->
    </div>
    <div ng-switch-when="IMAGE">
        <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
        <!--<img ng-src="{{widget.url}}" width="{{widget.width}}">-->
    </div>
    <div ng-switch-when="YOUTUBE">
        <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>

        <!--<iframe ng-src="{{model.doYouTrustUrl(widget.url)}}" width="{{widget.width}}" height="480" allowfullscreen></iframe>-->
    </div>
    </div>
</div>
<!--</div>-->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-triangle-right black">
                </span>
            </a>
        </div>
        <div class="navbar-text">
            <a class="navbar-brand" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-eye-open black">
                </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a  href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

<!--<iframe src="https://www.youtube.com/embed/1DXHE4kt3Fw" width=100% height="480" allowfullscreen></iframe>-->

<!--<img src="https://upload.wikimedia.org/wikipedia/commons/8/8a/Northern_lights_in_Greenland_%2814990374447%29.jpg" width=100%>-->