<!--<div ng-switch="widget.size">-->
<!--<h1 ng-switch-when="1">{{widget.text}}</h1>-->
<!--<h2 ng-switch-when="2">{{widget.text}}</h2>-->
<!--<h3 ng-switch-when="3">{{widget.text}}</h3>-->
<!--<h4 ng-switch-when="4">{{widget.text}}</h4>-->
<!--<h5 ng-switch-when="5">{{widget.text}}</h5>-->
<!--<h6 ng-switch-when="6">{{widget.text}}</h6>-->
<!--</div>-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
            <div class="navbar-text">
                <a class="navbar-link"
                   href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left black">
                    </span>
                </a>
            </div>
            <a class="navbar-brand">
                <strong> Widget Edit</strong>
            </a>
            <!--<div class="col-sm-8">-->
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok black">
                </span>
                </a>
            <!--</div>-->
        <!--</div>-->




        </div>
    </div>
</nav>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control"
                   ng-model="model.widget.name"
                   type="text"
                   id="name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input class="form-control"
                   ng-model="model.widget.text"
                   type="text"
                   id="text"
                   placeholder="Aurora borealis">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input class="form-control"
                   ng-model="model.widget.size"
                   type="text"
                   id="size"
                   placeholder="size">
        </div>
    </form>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user black"></span>
            </a>
        </div>
    </div>
</nav>