<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">

                <span class="glyphicon glyphicon-chevron-left black">
                </span>
            </a>

        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok black"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand"><strong>Widget Edit</strong></a>
        </div>


    </div>
</nav>

<div class="container-fluid">
    <!--<h1>teeext</h1>-->
    <div ng-switch="model.widget.widgetType">
        <!--<h1>tesst</h1>-->
        <div ng-switch-when="HEADER">
            <!--<a href="widget-heading.view.client.html"></a>-->
            <div ng-include="'views/widget/templates/widget-heading.view.client.html'"></div>
        </div>
        <div ng-switch-when="IMAGE">

            <div ng-include="'views/widget/templates/widget-image.view.client.html'"></div>
        </div>
        <div ng-switch-when="YOUTUBE">
            <div ng-include="'views/widget/templates/widget-youtube.view.client.html'"></div>
        </div>
    </div>
</div>
<!--<h1>test</h1>-->

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>