<nav class="navbar navbar-normal navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website"><strong>Websites</strong></a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href=#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#!/user/{{model.userId}}/website/new"><strong>New Website</strong></a>
            </div>
            <div class="navbar-text pull-right">
                <a class="ngclick" ng-click="model.createWebsite(website)">
                    <!--href="#!/user/{{model.userId}}/website"-->

                    <span class="glyphicon glyphicon-ok white">

                </span>
                </a>
            </div>
        </div>
    </div>

</nav>

<div class="container-fluid">
    <div class="col-sm-4 hidden-xs border-right">
        <ul class="list-group">
            <!--<li class="list-group-item" style="border: none">-->
            <!--<strong>Name</strong>-->
            <!--</li>-->
            <li class="list-group-item" ng-repeat="website in model.websites" style="border: none">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right"></span>
                </a>
            </li>

        </ul>
        <!--</div>-->
    </div>
    <div class="col-sm-8 container-fluid">
        <label for="name">Name</label>
        <input ng-model="website.name"
               class="form-control"
               type="text"
               id="name"
               placeholder="Name">
        <label for="description">Description</label>
        <textarea ng-model="website.description"
                  class="form-control"
                  id="description"
                  placeholder="Description" required
                  rows="6"></textarea>
        <!--<textarea placeholder="check">  </textarea>-->
    </div>

</div>

<nav class="navbar navbar-normal navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user white">
                </span>
            </a>
        </div>
    </div>
</nav>