<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width
user-scalable = no, initial-scale = 1.0, maximum-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet">
    <title>Website-Edit</title>


</head>
<body>
<nav class="navbar navbar-normal navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-sm-4 hidden-xs">


            <div class="navbar-text pull-left">

                <a href="website-list.html">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="website-list.html">Websites</a>
            </div>
            <div class="navbar-text pull-right">
                <a href="website-new.html">
                    <span class="glyphicon glyphicon-plus white"></span>
                </a>
            </div>


        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="website-list.html">
                    <span class="glyphicon glyphicon-chevron-left white"></span>
                </a>
            </div>
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="website-new.html">Edit Website</a>
            </div>
            <div class="navbar-text pull-right">
                <a href="website-list.html">
                <span class="glyphicon glyphicon-ok white">

                </span>
                </a>
            </div>
        </div>
    </div>

</nav>

<div class="container-fluid">
    <div class="verticalLine">
    <div class="col-sm-4 hidden-xs border-right">
        <ul class="list-group">
            <li class="list-group-item" style="border: none">
                <a href="../page/page-list.html">Blogging App</a>
                <div class="pull-right">
                    <a href="website-edit.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="../page/page-list.html">Address Book App</a>
                <div class="pull-right">
                    <a href="website-edit.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="../page/page-list.html">Script Testing App</a>
                <div class="pull-right">
                    <a href="website-edit.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>
            <li class="list-group-item" style="border: none">
                <a href="../page/page-list.html">Blogger</a>
                <div class="pull-right">
                    <a href="website-edit.html">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </li>

        </ul>
    </div>
    </div>
    <div class="verticalLine">
    <div class="col-sm-8 container-fluid">
        <form>
            <div class="form-group">
                <label for="name">Website Name</label>
                <input class="form-control"
                       type="text"
                       id="name"
                       placeholder="Blogger">
            </div>
            <div class="form-group">
                <label for="description">Website Description</label>
                <textarea class="form-control"

                          id="description"
                          placeholder="Blogger is Google’s free tool for creating blogs. It can be found on the web at http://www.blogger.com. Previous versions of Blogger were heavily branded with the Blogger logo, but the latest version is flexible and unbranded so you can use it to create and promote blogs without a budget.
The main advantage to using Blogger is that Blogger is completely free, including hosting and analytics. If you choose to display ads, you share in the profits."
                          required
                          rows="6"></textarea>
            </div>
        </form>
        <a class="btn btn-danger btn-block"
           href="website-list.html">Delete</a>
        <!--<textarea placeholder="check">  </textarea>-->
    </div>
    </div>

</div>

<nav class="navbar navbar-normal navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="../user/profile.html">
                <span class="glyphicon glyphicon-user white">
                </span>
            </a>
        </div>
    </div>
</nav>