<!-- Fixed navbar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Bootstrap theme</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!/">Home</a></li>
                <li><a href="#!/admin">Admin</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/login">Login</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/register">Register</a></li>
                <li ng-show="!model.currentUser._id"><a href="#!/profile">Profile</a></li>
                <li><a href="#!login">Logout</a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="">Action</a></li>-->
                        <!--<li><a href="">Another action</a></li>-->
                        <!--<li><a href="">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <!--<li><a href="">Separated link</a></li>-->
                        <!--<li><a href="">One more separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--<div style="background: black">-->
<!--<div class="gif-container"></div>-->
<!--<img src='b2d4a353d922f7f1dd92594dbb0e129c.gif' id='selector'/>-->
<!--<img src="b2d4a353d922f7f1dd92594dbb0e129c.gif">-->

<div class="container-fluid">
    <a class="btn btn-default btn-primary btn-block"
       href="#!login">Login</a>

    <a class="btn btn-default btn-success btn-block"
       href="#!register">Register</a>
</div>

<!--</div>-->